<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules"
             type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>

  <modules>
    <module assemblyFile="Generator.dll"
            moduleType="Generator.ModuleDefinitions.CodeGeneratorModule, Generator"
            moduleName="Generator"/>
  </modules>
  
  <connectionStrings>
    <add name="CodeStorageEntities" connectionString="metadata=res://*/DataAccess.CodeModel.csdl|res://*/DataAccess.CodeModel.ssdl|res://*/DataAccess.CodeModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\Data\CodeStorage.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>